// Import page-specific CSS files here.
@import "home";
@import "new";

.list-titile {
  margin-top: 20px;
  font-size: 18px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
