<h2 class="search-title"> Found <strong><%= @movies.length %></strong> movies </h2>
<div class="search-container">
  <%# <div class="row"> %>
    <% @movies.each do |movie| %>
      <div class="search-card" data-aos="zoom-in">
        <div class="card-body">
          <%= image_tag movie.poster_url, alt: movie.title, class: 'search-img' %>
          <button class="btn"><i class="fa-solid fa-circle-plus"></i></button>
        </div>
        <%# <%= link_to "Add to my list", "#", class: "btn btn-outline-dark" %>
      </div>
    <% end %>
  <%# </div> %>
</div>
