<div class="search-container">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-4" data-aos="zoom-in">
        <div class="search-card">
          <%= image_tag movie.poster_url, alt: movie.title, class: 'search-img' %>
          <div class="d-flex flex-column p-2">
            <div class="card-title">
              <strong><%= movie.title %> <span class="font-weight-normal"></span></strong>
            </div>
            <%= link_to "Add to my list", "#", class: "btn btn-outline-dark" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%# style="max-width: 540px; %>
