<%# <nav class="navbar navbar-dark navbar-expand-lg">
  <%= link_to "ALL THAT MOVIE", root_path, class: "nav-link" %>
<%# </nav>  %>

<div class="topnav" id="myTopnav">
  <%= link_to "All that Movie", root_path, class: "text-decoration-none" %>
  <%# <a href="#home">All that Movie</a> %>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
