.banner {
  background-image: url("cover.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  display: flex;
  justify-content: center;
}

.index-search {
  border-radius: 32px;
  height: 48px;
  width: 320px;
  margin: 56px;
  text-decoration: none;
  padding-left: 32px;
  border: 0;
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
  padding-top: 4px;
}
