.btn-warning {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #AA9C27;
  transition: background 0.3s ease;
  outline: none;
}

.btn-dark {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #787878;
  transition: background 0.3s ease;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: right;
}
