.search-title {
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  margin: 0;
  padding: 8px 16px;
}

.search-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.search-card {
  // border: 1px solid black;
  // border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-body {
  width: 160px;
  height: 220px;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-img {
  width: 140px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  margin: 0px;
}

.card-body .fa-solid {
  position: absolute;
  top: 12%;
  left: 64%;
  color: white;
  font-size: 32px;
  cursor: pointer;
}
