.navbar {
  justify-content: space-between;
  background: black;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
}

.nav-link:hover {
  color: #FFFFFF;
  opacity: 2;
  transition: all 0.5s;
}
